.row-cen {
    text-align:center;
}

.col-cen {
    display:inline-block;
    float:none;
}



.thumb {
  margin-top: 2em;
  margin-bottom: 2em;
}

.thumb a{
  border: 2px solid transparent;
  transition: box-shadow 0.3s;
  -webkit-transition-timing-function: ease-in-out; /* Safari and Chrome */
  transition-timing-function: ease-in-out;
}

a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: transparent !important;
}

.thumb a:hover{
  box-shadow: 0 0 10px #a6a6a6,0 0 70px #a6a6a6;
}

.thumb a p {
 text-align: center;
}

.sponsor-type-title{
  text-align: center;
  font-size: 300%;
  color: #003d4d;
  font-weight: bold;
}

.sponsor-name,.sponsor-role{
  white-space: nowrap;
  overflow-x: auto;
}

.sponsor-name{
  font-weight: bold;
  font-size: 20px;
  color: #006680;
}

.sponsor-role{
  font-size: 17px;
}

@media only screen and (max-width: 768px) {
  .desktop {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  div::-webkit-scrollbar,iframe::-webkit-scrollbar {
    width: 10px;
  }
  div::-webkit-scrollbar-track,iframe::-webkit-scrollbar-track {
    -webkit-box-shadow: 0 0 2px grey;
    border-radius: 5px;
  }
  div::-webkit-scrollbar-thumb,iframe::-webkit-scrollbar-thumb {
    background-color: #d9d9d9;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 2px #4798b8,0 0 3px #4798b8;
  }
}
