body {
  overflow: hidden;
}

.initial-div {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  background: url(../img/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.initial-div .logo-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
}

.contact-us {
  background: #ff2233;
  color: white;
  padding: 0.2em 0.5em;
  margin: 0.2em;
  font-size: 1.2em;
  z-index: 20;
  transition: background 0.4s;
  -webkit-transition-timing-function: ease-in-out; /* Safari and Chrome */
  transition-timing-function: ease-in-out;
}

.contact-us:hover {
  background: #fff;
  box-shadow: 0 0 10px grey , 0 0 20px grey;
  color: #ff2233 !important;
  border: 2px solid #ff2233;
}

.social-right,.social-left {
  padding: 0.2em 0.5em;
  position: absolute;
  bottom: 0%;
  right: 0%;
  margin: 0.2em;
  z-index: 20;
}
.social-left {
  left: 0%;
}
.social-right {
  right: 0%;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
}

.logo-img {
  max-height: 80%;
  max-width: 80%;
}



/* Team */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
figure.team-member {
  font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin: 10px 1%;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  text-align: center;
}
figure.team-member * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.team-member > .image {
  display: block;
  position: relative;
  padding: 15px 0;
}
figure.team-member > .image img {
  width: 70%;
  border-radius: 50%;
}
figure.team-member > .image:before {
  position: absolute;
  bottom: 0;
  content: '';
  background: #ffffff;
  width: 100%;
  top: 50%;
  left: 0;
  right: 0;
  z-index: -1;
}
figure.team-member figcaption {
  position: relative;
  background: #ffffff;
}
figure.team-member figcaption:before {
  position: absolute;
  width: 100%;
  background: #000000;
  height: 0px;
  bottom: 0;
  display: block;
  content: '';
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
figure.team-member h3,
figure.team-member p {
  margin: 0;
  display: inline-block;
  width: 100%;
}
figure.team-member h3 {
  padding: 10px 15px;
  background: #333333;
  text-transform: uppercase;
}
figure.team-member p {
  font-size: 0.9em;
  font-weight: 500;
  background: #ffffff;
  color: #4d4d4d;
  padding: 20px 40px 30px;
}
figure.team-member a.link {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  color: #ffffff;
}
figure.team-member a.info {
  color: #000000;
}
figure.team-member.blue h3,
figure.team-member.blue figcaption:before {
  background: #2980b9;
}
figure.team-member.red h3,
figure.team-member.red figcaption:before {
  background: #c0392b;
}
figure.team-member.yellow h3,
figure.team-member.yellow figcaption:before {
  background: #e67e22;
}
figure.team-member.navy h3,
figure.team-member.navy figcaption:before {
  background: #34495e;
}
figure.team-member:hover figcaption:before,
figure.team-member.hover figcaption:before {
  height: 10px;
}

/* CUSTOM */
.row-cen {
    text-align:center;
}

.col-cen {
    display:inline-block;
    float:none;
}

.team-container {
  display: block;
  width: 100%;
  float: left;
  text-align: center;
}


/* modal */
#MatModal-container {
    display:none;
    position:fixed;
    width:70%;
    height:80%;
    top:28%;
    left:15%;
    overflow:hidden;
    -moz-transition:350ms;
    -webkit-transition:350ms;
    transition:350ms;
  z-index: 20;
}
#MatModal-container.seeModal {
    top:10%;
    background-color: #002933;
    -webkit-box-shadow: 0 3px 8px 2px rgba(0,0,0,0.2);
    box-shadow: 0 3px 8px 2px rgba(0,0,0,0.2);
}
.MatRound {

    /*background-image: url("../img/modal_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;*/
    background-color: #002933;
    display:block;
    position:absolute;
    width:1%;
    height:0;
    padding-top:1%;
    top:50%;
    left:50%;
    -moz-border-radius:10em;
    -webkit-border-radius:10em;
    border-radius:10em;
    -moz-transition:850ms;
    -webkit-transition:850ms;
    transition:850ms;
}
.show-MatModal .MatRound {
    width:150%;
    padding-top:150%;
    top:-25%;
    left:-25%;
}
.MatModal-content {
    display:block;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    opacity:0;
    overflow:auto;
    padding:30px;
    -moz-transition:1s;
    -webkit-transition:1s;
    transition:1s;
}
.show-MatModal .MatModal-content {opacity:1;}
.MatModal-content * {color:#e6e6ff !important;}
#close-MatModal {
    display:block;
    position:absolute;
    top:20px;
    right:20px;
    color:#3498db;
}
