*, *::before, *::after {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

html, body {
  height: 100%;
}

section:nth-of-type(odd) {
  background-color: red;
}

section:nth-of-type(even) {
  background-color: blueviolet;
}

.nav-open {
  display: block;
  border-radius: 50%;
  padding: 0.1em;
  background-color: black;
  color: white;
  font-size: 2em;
  position: fixed;
  top: 5%;
  right: 5%;
  cursor: pointer;
  z-index: 1;
}

.nav-close {
  color: white;
  font-size: 2em;
  cursor: pointer;
  float: right;
}

nav {
  display: none;
  background-color: indigo;
  position: fixed;
  right: 0%;
  top: 0%;
  bottom: 0%;
  overflow: auto;
  text-align: center;
  z-index: 1;
}

nav img {
  width: 10em;
}

nav a, nav a:visited {
  display: block;
  padding: 1.5em;
  color: white;
  text-decoration: none;
  font-size: 1.25em;
}

nav a:hover {
  background-color: navy;
  border-bottom: 0.2em solid white;
}

section {
  padding: 10%;
  text-align: center;
  min-height: 100%;
}

section h2 {
  font-size: 3em;
  color: white;
  padding: 1.2em;
}

section p {
  color: white;
  padding: 2em;
}

footer {
  height: auto;
  color: white;
  background-color: black;
  position: relative;
  padding: 1em;
  line-height: 2em;
  bottom: 0%;
}

footer div {
  float: right;
  font-size: 2em;
  padding-left: 2em;
}

footer a, footer a:visited {
  color: white;
}
